* {
    color: #ecbc48;
    font-family: 'Cabin', sans-serif;
}

h1 {
  color:  #ffffff;
}

h2 {
  color:  #ffe096;
}


html,
body {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100vh;
}

body {
    background: #1c1d1e;
    background-image: url("images/bg4.png");
    background-repeat: repeat;
    background-size: 5vh;
    animation: moveBG 30s linear infinite;
}

@keyframes moveBG {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 25% 100%;
    }
}

h1 {
    font-size: 4vh;
    line-height: 4.5vh;
    cursor:default;
}

h2 {
    font-size: 2.3vh;
    line-height: 3vh;
    cursor:default;
}

p {
    font-size: 2.0vh;
    cursor:default;
}

.mainCont {
    text-align: left;
    width: 30vw;
    margin-left: 35vw;
    text-align: justify;
}

.homeCont {
   /* text-align: left;*/
    width: 30vw;
    display:block;
    margin:auto;
    text-align:center;
}   

.homeCont h1 {
    text-align:center;
}

.homeCont p {
    text-align:center;
    padding:0;
    margin:10px;
}

#homeCont {
    padding-top: 28vh !important;
    text-align:center;
}

#abtCont {
    padding-top: 26vh !important;
    text-align:center;
}

#portCont {
    padding-top: 22vh !important;
    text-align:center;
}

#introsCont {
    padding-top: 5vh !important;
    text-align:center;
}

#transCont {
    padding-top: 30vh !important;
    text-align:center;
}

#termsCont {
    padding-top: 26vh !important;
    text-align:center;
}

.btn {
    text-decoration: none;
    font-weight:800;
    color: #1c1d1e;
    background: #ecbc48;
    padding: 1vh 2vh;
    box-shadow: 0 .5vh 0 #ba8616;
    position: relative;
    top: 0;
    transition: top .2s, box-shadow .2s,/* padding 3s, font-size 3s*/ ease;
    margin-right: 1.5vh;
    text-transform: uppercase;
    font-size: 1.4vh;
}

.btn:hover {
    box-shadow: 0 0vh 0 #ba8616;
    top: .5vh;
   /* padding:20px;
    font-size:1.5em;*/
}

.navbar {
    position: absolute;
    list-style-type: none;
    padding: 1vh 2vh;
    float: left;
}

.navbar li {
    display: inline-block;
    margin-right: .5vh;
    margin-left: .5vh;
    margin-bottom: 1vh;
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
    opacity: .8;
    transition: opacity .2s;
    text-transform: uppercase;
    font-size: 1.4vh;
    border-bottom: 0 solid #ecbc48;
}

.navbar li a:hover {
    opacity: 1;
}

.navbar li a.active {
    opacity: 1;
    border-bottom: .2vh solid #ecbc48;
}

.videoWrapper {
    position: relative;
    padding-bottom: 51.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1000px) {

    .navbar li {
        display: block;
    }
    .navbar li a {
        font-size: 2vh;
    }

    .btn {
        display: block;
        margin-bottom: 1.5vh;
    }

    .mainCont {
        width: 50vw;
        margin-left: 25vw;
        text-align: left;
    }

    .col {
        display: block !important;
    }

    .container {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #intro-container {
        width: 100%;
        padding-top:0;
        margin-top:0;
    }

    #intro-container h2 {
        line-height: initial;
    }

    #intro-container .container {
        width: 300px;
    }
}

#intro-container .container {
    width: 300px;
    background: #333;
    padding: 5px 20px;
    padding-bottom: 5px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    margin: 10px;
    padding-top: 14px;
}

#intro-container .col {
    display: inline-table;
    margin: 0;
}

#intro-container .container * {
    color: white;
    text-align: center;
}

#intro-container .container:hover, #intro-container .container:active .hidden {
    background-color: #504219;
}

#intro-container .container .hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
    padding-bottom: 14px;
}

#intro-container .container:hover .hidden, #intro-container .container:active .hidden {
    max-height: 400px;
}

#intro-container p {
    transition: none;
}

#intro-container .btn {
    margin: auto;
    border: none;
}

.container h2 {
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    #intro-container .container:hover .hidden, #intro-container .container:active .hidden {
        max-height: 1200px !important;
    }
}

strong {
    color:white !important;
    font-weight:400;
}

strong a{
    color:white;
    text-decoration:none;
    transition:color 1s,font-size 1s, font-weight 1s ease;
}

strong a:hover{
    font-size:1.5em;
    font-weight:400;
    color:#C1FF00;
}

.footer{
    width:100%;
    background-color:#111;
    position:fixed;
    bottom:0;
    text-align:center;
    padding:10px;
}

small{
    color:#aaa;
    font-weight:100;
}

.policy{
    color:white;
    text-align:center;
    margin:0;
    padding:0;
    opacity:75%;
    font-size:default;
    transition:all .5s ease;
}

.policy:hover{
    opacity:100%;
    cursor:default;
    font-size:1.2em;
}

.payment{
    color:white;
    text-align:center;
    margin:0;
    padding:0;
    opacity:75%;
    font-size:default;
    transition:all .5s ease;
}

.payment:hover{
    opacity:100%;
    cursor:default;
    font-size:1.2em;
}